In [1]:
%run utility.py

2021-11-05 18:42:55.778063 : Starting S3 Upload process
Current Working Directory :  /home/workspace
Scanning Directory :  /home/workspace/inputs
Scanning Directory :  /home/workspace/outputs
9 files found, 1 files ignored
Total Buckets =  4
1. aws-emr-resources-957808882659-us-west-2
2. aws-logs-957808882659-us-west-2
3. calamaribucket
4. calamaribucket-capstone
2021-11-05 18:42:56.250384 : Creating bucket calamaribucket-capstone
S3 : bucket calamaribucket-capstone exists
2021-11-05 18:42:56.616858 : Uploading CSV files to bucket calamaribucket-capstone
Uploading 9 files to S3
2021-11-05 18:42:59.978772 : Uploading gzip files to bucket calamaribucket-capstone
Deleting crc & _SUCCESS files
Action        Date                        Size         Filename(Total scanned files=21)
=== S3 Upload process Total Elapsed time is 4.29 sec

2021-11-05 18:43:00.065810 : Done!

In [2]:
%run sql_queries.py

In [3]:
%run create_cluster.py

           Param                Value
0   CLUSTER_TYPE           multi-node
1      NUM_NODES                    2
2      NODE_TYPE            dc2.large
3   CLUSTER_NAME  redshift-cluster-25
4        DB_NAME                  dev
5        DB_USER              awsuser
6    DB_PASSWORD          Globalstar1
7        DB_PORT                 5439
8  IAM_ROLE_NAME     myRedshiftRole25
1.1 Creating a new IAM Role
An error occurred (EntityAlreadyExists) when calling the CreateRole operation: Role with name myRedshiftRole25 already exists.
1.2 Attaching Policy
1.3 Get the IAM role ARN
      ARN : arn:aws:iam::957808882659:role/myRedshiftRole25
1.4 Starting Redshift Cluster Creation
An error occurred (ClusterAlreadyExists) when calling the CreateCluster operation: Cluster already exists
     Waited for 0 seconds. Redshift Cluster Creation in-progress...Cluster Status =  available
     Cluster creation completed. Took 5 seconds.
ENDPOINT ::  redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com
ROLE_ARN ::  arn:aws:iam::957808882659:role/myRedshiftRole25
ENDPOINT = redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com
ROLE_ARN = arn:aws:iam::957808882659:role/myRedshiftRole25
ec2.SecurityGroup(id='sg-024cdaab567f4381e')
An error occurred (InvalidPermission.Duplicate) when calling the AuthorizeSecurityGroupIngress operation: the specified rule "peer: 0.0.0.0/0, TCP, from port: 5439, to port: 5439, ALLOW" already exists
Connected
Done!

In [4]:
%run create_tables.py

create_tables line 58
DROP TABLE fact_immigration
DROP TABLE IF EXISTS fact_immigration;
DROP TABLE dim_airport_codes
DROP TABLE IF EXISTS dim_airport_codes;
DROP TABLE dim_PoE
DROP TABLE IF EXISTS dim_PoE ;
DROP TABLE dim_demog
DROP TABLE IF EXISTS dim_demog;
DROP TABLE dim_race
DROP TABLE IF EXISTS dim_race;
DROP TABLE dim_worldtemp
DROP TABLE IF EXISTS dim_worldtemp;
DROP TABLE staging_immigration
DROP TABLE IF EXISTS staging_immigration;
DROP TABLE staging_airport_codes
DROP TABLE IF EXISTS staging_airport_codes;
DROP TABLE staging_PoE
DROP TABLE IF EXISTS staging_PoE ;
DROP TABLE staging_demog
DROP TABLE IF EXISTS staging_demog;
DROP TABLE staging_race
DROP TABLE IF EXISTS staging_race;
DROP TABLE staging_worldtemp
DROP TABLE IF EXISTS staging_worldtemp;
drop schema line 180
DROP schema
drop schema
create schema line 155
CREATE schema
create schema if not exists;
create_tables line 127
CREATE TABLE staging_immigration

        CREATE TABLE IF NOT EXISTS "staging_immigration" (
          "CoC" VARCHAR,
          "CoR" VARCHAR,
          "PoE" VARCHAR,
          "arrival_state" VARCHAR,
          "age" VARCHAR,
          "biryear" VARCHAR,
          "gender" VARCHAR,
          "airline" VARCHAR,
          "admnum" VARCHAR,
          "fltno" VARCHAR,
          "visatype" VARCHAR,
          "arrival_mode" VARCHAR,
          "visit_purpose" VARCHAR,
          "arrival_dt" TIMESTAMP,
          "departure_dt" TIMESTAMP
        );

CREATE TABLE staging_airport_codes

        CREATE TABLE IF NOT EXISTS "staging_airport_codes" (
        "type" VARCHAR,
        "name" VARCHAR,
        "elevation_ft" DECIMAL(16,5),
        "iso_country" VARCHAR,
        "iso_region" VARCHAR,
        "municipality" VARCHAR,
        "iata_code" VARCHAR,
        "local_code" VARCHAR,
        "coordinates" VARCHAR,
        "longitude" VARCHAR,
        "latitude" VARCHAR,
        "state" VARCHAR
        );

CREATE TABLE staging_PoE

        CREATE TABLE IF NOT EXISTS "staging_PoE" (
        "code" VARCHAR,
        "citystate" VARCHAR,
        "city" VARCHAR,
        "state" VARCHAR
        );

CREATE TABLE staging_demog

        CREATE TABLE IF NOT EXISTS "staging_demog" (
        "State" VARCHAR,
        "City" VARCHAR,
        "Median_Age" DECIMAL(16,5),
        "State_Code" VARCHAR,
        "Male_Population" INTEGER,
        "Female_Population" INTEGER,
        "Total_Population" INTEGER,
        "Number_of_Veterans" INTEGER,
        "Foreign_born" INTEGER
        );

CREATE TABLE staging_race

        CREATE TABLE IF NOT EXISTS "staging_race" (
        "State" VARCHAR,
        "City" VARCHAR,
        "American_Indian_and_Alaska_Native" INTEGER,
        "Asian" INTEGER,
        "Black_or_African_American" INTEGER,
        "Hispanic_or_Latino" INTEGER,
        "White" INTEGER
        );

CREATE TABLE staging_worldtemp

        CREATE TABLE IF NOT EXISTS "staging_worldtemp" (
        "dt" TIMESTAMP,
        "AverageTemperature" DECIMAL(16,5),
        "City" VARCHAR,
        "Country" VARCHAR
        );

CREATE TABLE fact_immigration

        CREATE TABLE IF NOT EXISTS "fact_immigration" (
        "CoC" VARCHAR,
        "CoR" VARCHAR,
        "PoE" VARCHAR,
        "arrival_state" VARCHAR,
        "age" VARCHAR,
        "biryear" VARCHAR,
        "gender" VARCHAR,
        "airline" VARCHAR,
        "admnum" VARCHAR,
        "fltno" VARCHAR,
        "visatype" VARCHAR,
        "arrival_mode" VARCHAR,
        "visit_purpose" VARCHAR,
        "arrival_dt" TIMESTAMP,
        "departure_dt" TIMESTAMP,
        CONSTRAINT fact_immigration_pk PRIMARY KEY ("age", "arrival_dt", "CoR")
        );

CREATE TABLE dim_airport_codes

        CREATE TABLE IF NOT EXISTS "dim_airport_codes" (
        "type" VARCHAR,
        "name" VARCHAR,
        "elevation_ft" DECIMAL(16,5),
        "iso_country" VARCHAR,
        "iso_region" VARCHAR,
        "municipality" VARCHAR,
        "iata_code" VARCHAR,
        "local_code" VARCHAR,
        "coordinates" VARCHAR,
        "longitude" VARCHAR,
        "latitude" VARCHAR,
        "state" VARCHAR,
        CONSTRAINT dim_airport_codes_pk PRIMARY KEY ("type", "name")
        );

CREATE TABLE dim_PoE

        CREATE TABLE IF NOT EXISTS "dim_PoE" (
        "code" VARCHAR,
        "citystate" VARCHAR,
        "city" VARCHAR,
        "state" VARCHAR,
        CONSTRAINT dim_PoE_pk PRIMARY KEY ("code")
        );

CREATE TABLE dim_demog

        CREATE TABLE IF NOT EXISTS "dim_demog" (
        "State" VARCHAR,
        "City" VARCHAR,
        "Median_Age" DECIMAL(16,5),
        "State_Code" VARCHAR,
        "Male_Population" INTEGER,
        "Female_Population" INTEGER,
        "Total_Population" INTEGER,
        "Number_of_Veterans" INTEGER,
        "Foreign_born" INTEGER,
        CONSTRAINT dim_demog_pk PRIMARY KEY ("State", "City")
        );

CREATE TABLE dim_race

        CREATE TABLE IF NOT EXISTS "dim_race" (
        "State" VARCHAR,
        "City" VARCHAR,
        "American_Indian_and_Alaska_Native" INTEGER,
        "Asian" INTEGER,
        "Black_or_African_American" INTEGER,
        "Hispanic_or_Latino" INTEGER,
        "White" INTEGER,
        CONSTRAINT dim_race_pk PRIMARY KEY ("State", "City")
        );

CREATE TABLE dim_worldtemp

        CREATE TABLE IF NOT EXISTS "dim_worldtemp" (
        "dt" TIMESTAMP,
        "AverageTemperature" DECIMAL(16,5),
        "City" VARCHAR,
        "Country" VARCHAR,
        CONSTRAINT dim_worldtemp_pk PRIMARY KEY ("dt", "City", "Country")
        );

Done!

In [5]:
%run etl.py

Bucket =  BUCKET
redshift-cluster-25.ckpciulnqa3d.us-west-2.redshift.amazonaws.com dev awsuser Globalstar1 5439 redshift-cluster-25 multi-node 2 dc2.large myRedshiftRole25
1. Loading Staging tables
load staging tables line 127
Loading staging_immigration with data from 's3://calamaribucket-capstone/outputs/immigration_dfs1.csv'
line 148
line 150
Loading staging_airport_codes with data from 's3://calamaribucket-capstone/outputs/airport_codes_df1.csv'
line 148
line 150
Loading staging_PoE with data from 's3://calamaribucket-capstone/outputs/PoE_df1.csv'
line 148
line 150
Loading staging_demog with data from 's3://calamaribucket-capstone/outputs/demog_df.csv'
line 148
line 150
Loading staging_race with data from 's3://calamaribucket-capstone/outputs/race_df.csv'
line 148
line 150
Loading staging_worldtemp with data from 's3://calamaribucket-capstone/outputs/worldtemp_df1.csv'
line 148
line 150
2. Insert into Fact & Dimension tables
insert tables line 152
inside for insert line 273
INSERT INTO dim_airport_codes TABLE

        insert into dim_airport_codes(type, name, elevation_ft, iso_country, iso_region, municipality, iata_code, local_code, coordinates, longitude, latitude, state)
        select distinct  type, name, elevation_ft, iso_country, iso_region, municipality, iata_code, local_code, coordinates, longitude, latitude, state
        from staging_airport_codes ;

query
line 278
inside for insert line 273
INSERT INTO dim_PoE TABLE

        insert into dim_PoE(code, citystate, city, state)
        select distinct  code, citystate, city, state
        from staging_PoE ;

query
line 278
inside for insert line 273
INSERT INTO dim_demog TABLE

        insert into dim_demog(State, City, Median_Age, State_Code, Male_Population, Female_Population, Total_Population, Number_of_Veterans, Foreign_born)
        select distinct  State, City, Median_Age, State_Code, Male_Population, Female_Population, Total_Population, Number_of_Veterans, Foreign_born
        from staging_demog ;

query
line 278
inside for insert line 273
INSERT INTO dim_race TABLE

        insert into dim_race(State, City, American_Indian_and_Alaska_Native, Asian, Black_or_African_American, Hispanic_or_Latino, White)
        select distinct  State, City, American_Indian_and_Alaska_Native, Asian, Black_or_African_American, Hispanic_or_Latino, White
        from staging_race ;

query
line 278
inside for insert line 273
INSERT INTO dim_worldtemp TABLE

        insert into dim_worldtemp(dt, AverageTemperature, City, Country)
        select distinct  dt, AverageTemperature, City, Country
        from staging_worldtemp ;

query
line 278
inside for insert line 273
INSERT INTO fact_immigration TABLE

        insert into fact_immigration(CoC, CoR, PoE, arrival_state, age, biryear, gender, airline, admnum, fltno, visatype, arrival_mode, visit_purpose, arrival_dt, departure_dt)
        select distinct  CoC, CoR, PoE, arrival_state, age, biryear, gender, airline, admnum, fltno, visatype, arrival_mode, visit_purpose, arrival_dt, departure_dt
        from staging_immigration ;

query
line 278
3. Count Rows
line 359
line 365
line 371
         staging_immigration       - 792
line376
line 365
line 371
         staging_airport_codes     - 1865
line376
line 365
line 371
         staging_PoE               - 509
line376
line 365
line 371
         staging_demog             - 596
line376
line 365
line 371
         staging_race              - 596
line376
line 365
line 371
         staging_worldtemp         - 639649
line376
Done!